@import '../../themes/v2';

.button-row {
    display: flex;
    justify-content: center;
};

Button[label="Co-Worker"] {
    margin: auto 20px;
};

.SignUpForm, .LoginForm {
    margin-top: 20px;
    &>legend {
        margin-bottom: 20px;
        font-weight: bold;
    }
}