@import '../../themes/_v2.scss';

@media only screen and (min-width: 320px) {

    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: black;
        text-align: center;
    }

    h2 {
        margin: 30px 0 0 0;
    }

    h3 {
        margin: 0;
        font-size: 20px;
        text-align: left;
    }

    h4 {
        margin: 0;
        text-align: left;
    }

    h5 {
        text-align: left;
        margin: 0;
    }

    p {
        text-align: left;
        margin: 0;
    }

    p + p {
        margin-top: 15px;
    }

    img {
        max-width: 225px;
    }

    input[type='radio'] {
        transform: scale(2);
        margin-right: 10px;
    }

    legend {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .App__header {
        color: white;
        grid-area: header;
        padding-top: 70px;
    }

    .add_rmbr_div {
        background-color: #035b7f;
    }

    .add_rmbr_form {
        padding: 20px;
        text-align: -webkit-center;
    }

    .demo_login {
        width: 200px;
        margin: 30px auto 0px auto;
    }

    .edit_person_form {
        color: black;
        text-align: -webkit-center;
    }

    .edit_label {
        color: black;
        text-align: center;
        margin: 10px auto;
    }

    .edit_person_section {
        margin-top: 20px;
        max-width: 425px;
        margin-left: auto;
        margin-right: auto;
    }

    .add-person-label > p {
        text-align: center;
        color: white;
    }

    .add_person_radio_options {
        border-radius: 4px;
        height: 50px;
        display: flex;
        color: white;
        justify-content: space-around;
        align-items: center;
    }

    .edit_person_radio_options {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .status-label {
        color: white;
        font-weight: bold;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loading-image {
        margin-right: 10px;
        height: 36px;
    }

    .rmbr_description {
        text-align: left;
    }

    .rmbr_list_num-label {
        padding-left: 25px;
        color: white;
    }

    .login_with_demo_account_button {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        border: 2px white solid;
    }

    .profile-info {
        display: inline;
    }

    div > .events_container {
        border: 2px rgb(150, 150, 150) solid;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
        text-align: left;
        padding-left: 20px;
    }

    button {
        border: 2px solid lightgray;
        border-radius: 5px;
        background-color: white;
        font-size: 14px;
    }

    button:hover {
        cursor: pointer;
        background-color: gainsboro;
    }

    .personListItem__div_button {
        text-align: left;
    }

    .rmbr_item_button_bar {
        display: flex;
    }
    
    .focus_label {
        background-color: black;
        color: white;
        padding: 0 5px 0 5px;
    }

    .rmbr_added_label {
        color: dimgray;
    }

    .rmbr_item_header {
        margin-bottom: 5%;
    }

    #arrow-left {
        margin-right: 5px;
    }

    .edit_title_inline_button {
        margin-left: 5px;
    }

    .rmbr_add_details_button {
        margin-top: 10px;
    }

    .inline_before_icon {
        margin-right: 5px;
    }

    .person_page_delete_button_div {
        float: right;
        margin-right: 20px;
    }

    .info_message {
        color: black;
        padding: 10px;
        text-align: center;
        margin-top: 20px;
    }

    .error_message {
        background-color: #CA1551;
        color: white;
        padding: 10px;
        text-align: center;
        margin-top: 20px;
    }

    /* Color Theme Swatches in Hex */
    .BRANDING-•-MATOU-1-hex { color: #03658C; }
    .BRANDING-•-MATOU-2-hex { color: #F2CA52; }
    .BRANDING-•-MATOU-3-hex { color: #F2EBD5; }
    .BRANDING-•-MATOU-4-hex { color: #F24141; }
    .BRANDING-•-MATOU-5-hex { color: #0D0D0D; }

    section {
        min-height: 200px;
        padding: 30px 30px;
        /* background-color: #F6F6F6; */
        border-radius: 10px;
    }

    section:nth-child(even) {
        /* background-color: #EBEBEB; */
    }

    .landing_page_header {
        margin-bottom: 40px;
    }

    .landing_page_section {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .sign_up_button {
        max-width: 300px;
        min-width: 200px;
        height: 50px;
        font-size: larger;
        font-weight: bold;
        color: white;
        background-color: #F24141;
        border: none;
    }

    .sign_up_button:hover {
        background-color: #a02929;
    }

    .sign_up_cta, .sign_up_cta > h3 {
        text-align: center;
        margin-bottom: 20px;
    }

}

@media only screen and (min-width: 550px) {

    .Main {
        margin-top: -10px;
        height: calc(100vh - 70px);
    }

    .landing_page_section {
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .add_rmbr_form {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .add_rmbr_div {
        max-width: 430px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }

}
@media only screen and (min-width: 800px) {

    ul {
        max-width: unset;
        place-content: space-evenly;
    }

    li {
        width: 300px;
    }

}
