@import '../../themes/_v2.scss';

.Header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $header;
    padding: 10px 30px;
    border-bottom: 2px solid $headerSecondary;

    &>:hover {
        cursor: pointer;
        filter: drop-shadow(0px 2px 2px black);
        // transition: width 0.4s ease-in-out;
        -webkit-transition: filter 0.5s ease-in-out;
        -moz-transition: filter 0.5s ease-in-out;
        -o-transition: filter 0.5s ease-in-out;
        transition: filter 0.5s ease-in-out;
    };

}

#rmbrme_logo {
    height: 40px;
    margin-top: 5px;
}
