@import '../../themes/v2';

.landing-page-section {

    margin-top: 20px;
    padding: 20px;

    &>h3 {
        font-weight: bold;
    };

};

.last-section {
    margin-bottom: 20px;
    text-align-last: center;
};

div.cta-div > h3 {
    margin-bottom: 20px;
};