@import '../../themes/_v2.scss';

@media only screen and (min-width: 320px) {

    button.icon-button {
        width: 50px;
    }

    .Hyph {
        margin-right: 5px;
        margin-left: 5px;
    }

    .Input,
    .Textarea {
        display: block;
        border: none;
        font-size: 1.1em;
        margin-bottom: 10px;
        padding: 10px;
        text-align: left;
        width: 80%;
        max-width: 400px;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
    }

    .Input::placeholder,
    .Textarea::placeholder {
        color: #ccc;
    }

    .Textarea {
        resize: vertical;
    }

    .Required {
        color: #CA1551;
        font-family: Arial, sans-serif;
        font-weight: bold;
    }

    .edit_save_button {
        margin-bottom: 10px;
    }

    .Section {
        margin-left: 20px;
        margin-right: 20px;
    }
    .Section--list {
        margin-left: 10px;
        margin-right: 10px;
    }

    .back_to_root_button {
        margin-top: 20px;
    }

    .Button {
        // width: 250px;
        border: 1px solid #aaa;
        background-color: #eee;
        font-size: 1.1em;
        border-radius: 4px;
        padding: 8px 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }

    .Button:disabled {
        background-color: transparent;
        border: 2px solid rgba(0, 0, 0, 0.250);
        color: rgba(0, 0, 0, 0.250);
        cursor: default;
    }
    
    .edit_button {
        width: 130px !important;
        margin: 10px;
    }

    .list_delete_button {
        position: relative;
        height: 40px;
        background-color: white;
    }

    .list_delete_button:hover {
        color: white;
        background-color: #CA1551;
    }

    .person_list_delete-button {
        float: right;
        margin-right: -15px;
        margin-top: -15px;
    }

    .rmbr_list_delete-button {
        float: right;
        margin-left: 10px;
    }

}
@media only screen and (min-width: 550px) {

    .Button {
        max-width: 250px;
    }

}

@media only screen and (min-width: 800px) {


}


